{% extends 'base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}

<h2 class="mb-4">Checkout</h2>

<p><strong>Total Amount:</strong> ₹ {{ total }}</p>

<form method="POST">
  {% csrf_token %}

  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" name="name" class="form-control" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Address</label>
    <textarea class="form-control" name="address" required></textarea>
  </div>

  <button class="btn btn-success">Place Order</button>

  <input type="radio" name="payment_method" value="online"> Online Payment  
<input type="radio" name="payment_method" value="cod"> Cash on Delivery
</form>

{% endblock %}