{% extends 'base.html' %}

{% load static %}
{% block title %}Home{% endblock %}

{% block content %}



<div class="row">
  {% for product in products %}
    <div class="col-md-4 mb-4 d-flex">
      <div class="card h-100 w-100 d-flex flex-column">
        <div class="card-img-top overflow-hidden" style="height: 250px;">
          <img src="{{ product.image.url }}" class="w-100 h-100 object-fit-cover" alt="{{ product.name }}">
        </div>
        <div class="card-body text-center mt-auto">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text fw-bold">₹ {{ product.price }}</p>
          <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
  {% empty %}
    <p class="text-center">No products available</p>
  {% endfor %}
</div>
{% endblock %}